.address-bar {
  list-style-type: none;
}

.address-bar ul {
  list-style-type: none;
}

.login-btn {
  color: white;
  border: none;
  padding: 10px 0px;
  width: 150px;
  background-color: #3368c6;
}

.hamburger {
  display: none;
}

.nav_item {
  text-decoration: none;
  color: black;
}

nav[stuck] .login-btn {
  color: #3368c6;
  border: 2px solid #3368c6;
  background-color: white;
}

@media only screen and (max-width: 991px) {
  .nav-elements {
    display: none;
  }
  .hamburger {
    display: block;
  }
}