.addressContainer {
  background-color: #3368c6;
  color: white;
}

.addressBar {
  list-style-type: none;
}

.addressBar ul {
  list-style-type: none;
}

.socialIcons {
  color: #3368c6;
  width: 150px;
}

.loginBtn {
  color: white;
  border: none;
  padding: 10px 0px;
  width: 150px;
  background-color: #3368c6;
}

.hamburger {
  display: none;
}
