.show-off {
  background-image: url("../../../Assets/images/bg1.jpg");
  height: 700px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.show-off h3 {
  font-size: 60px;
  color: white;
  margin-bottom: 30px;
}
