.blog_wrapper {
  padding: 15px;
  .blog_card {
    transition: 0.3s;
    max-width: 600px;
    margin: 10px;
    background: #fff;
    border: 1px solid #cb6074;
    text-align: center;
    cursor: pointer;
    &:hover {
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
      .card-img {
        img {
          opacity: 0.8;
        }
      }
    }
    .card_img {
      position: relative;
      text-align: center;
      background: #cb6074;
      img {
        transition: 0.3s;
        max-height: 180px;
        width: 100%;
        border-bottom: 4px solid #cb6074;
      }
      &:before {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        margin-left: -10px;
        width: 0;
        height: 0;
        border-top: solid 10px #cb6074;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
      }
    }
    .card_details {
      margin-top: 30px;
      font-family: "Roboto", sans-serif;
      color: #3c3c3c;
      span {
        padding: 0 30px;
        i {
          margin-right: 5px;
        }
      }
    }
    .card_text {
      padding: 30px 15px;
      font-family: "Roboto", sans-serif;
      line-height: 22px;
    }
    .read_more {
      transition: 0.3s;
      display: inline-block;
      width: auto;
      text-align: center;
      text-transform: uppercase;
      background: #52a0ed;
      color: #fff;
      padding: 15px;
      margin-bottom: 30px;
      font-family: "Oswald", sans-serif;
      &:hover {
        background: darken(#1d7ee6, 20%);
      }
    }
  }
}
