.address-container {
  background-color: #3368c6;
  color: white;
}

.address-bar {
  list-style-type: none;
}

.address-bar ul {
  list-style-type: none;
}

.social-icons {
  color: #3368c6;
  width: 150px;
}
